@model AutobusesSese.Models.Ciudades

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estas seguro de que deseas eliminar esta Ciudad?</h3>
<div>
    <h4>Ciudades</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.NombreCiudad)*@
            <label>Nombre Ciudad</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCiudad)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
