@model AutobusesSese.Models.Ciudades

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Ciudades</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.NombreCiudad)*@
            <label>Nombre Ciudad</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCiudad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
